---
- name: Install Prometheus on balancer with cloudalchemy.prometheus
  hosts: balancers
  become: yes
  gather_facts: true
  pre_tasks:
    - name: Gather facts from all hosts (for scrape targets)
      setup:
      delegate_to: "{{ item }}"
      delegate_facts: true
      run_once: true
      loop: "{{ groups['all'] }}"

  roles:
    - role: cloudalchemy.prometheus

  vars:
    prometheus_web_listen_address: "0.0.0.0:9090"

    _node_targets: "{{ groups['all'] | difference(['localhost']) | map('extract', hostvars, 'ansible_default_ipv4') | map(attribute='address') | map('regex_replace', '^(.*)$', '\\1:9100') | list }}"
    _pg_targets: "{{ groups['postgres_cluster'] | map('extract', hostvars, 'ansible_default_ipv4') | map(attribute='address') | map('regex_replace', '^(.*)$', '\\1:9187') | list }}"
    _patroni_targets: "{{ groups['postgres_cluster'] | map('extract', hostvars, 'ansible_default_ipv4') | map(attribute='address') | map('regex_replace', '^(.*)$', '\\1:8008') | list }}"
    _etcd_targets: "{{ groups['etcd_cluster'] | map('extract', hostvars, 'ansible_default_ipv4') | map(attribute='address') | map('regex_replace', '^(.*)$', '\\1:2379') | list }}"
    _blackbox_targets:
      - http://student5-api.autobase.tech/swagger/index.html

    prometheus_scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets: [ "localhost:9090" ]

      - job_name: node_exporter
        static_configs:
          - targets: "{{ _node_targets }}"

      - job_name: postgres_exporter
        static_configs:
          - targets: "{{ _pg_targets }}"

      - job_name: patroni_exporter
        metrics_path: /metrics
        static_configs:
          - targets: "{{ _patroni_targets }}"

      - job_name: etcd
        metrics_path: /metrics
        scheme: http
        static_configs:
          - targets: "{{ _etcd_targets }}"

      - job_name: blackbox_http
        metrics_path: /probe
        params:
          module: [http_2xx]
        static_configs:
          - targets: "{{ _blackbox_targets }}"
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: "127.0.0.1:9115"

      - job_name: blackbox_tcp
        metrics_path: /probe
        params:
          module: [tcp_connect]
        static_configs:
          - targets:
              - student5-api.autobase.tech:80
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: "127.0.0.1:9115"


